<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- the folowing link is for facebook and instegram and twitter -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script src="/assets/js/config.js"></script>
    <script src="/assets/js/machines.js"></script>
    <script src="/assets/js/components/product.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>


    <title>Cherkkoffie</title>
</head>

<main id="app">
    <nav>
        <!-- <nav class="sticky-top"> -->
        <div class="container-fluid" class="navlinks">
            <h2>
                <div v-html="brand">{{brand}}</div>
            </h2>
            <button type="button" class="btn btn-primary position-relative" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <div id=cartButton>
                        <div class="cart">
                            <span class="total-quantity">{{totalQuantity}}</span>
                        </div>
                    </div>
                </span>

            </button>

            <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div id="cartBorder" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Shopping Cart:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <hr>


                        <div class="modal-body">
                            <h6>Cart Items:</h6>
                            <ul id="shoppingCart">
                                <li v-for="(machine, index) in shoppingCart" :key="machine.id">
                                    <span id="shopping">Name:</span>
                                    {{machine.name}} <br>
                                    <span id="shopping">Quantity:</span>
                                    ({{machine.quantity}})
                                    <span id="shopping">Price:</span> ${{machine.price*machine.quantity}}<span><i
                                            class="fa fa-trash-o" id="deletBtn"
                                            @click=" removeMachine(index)"></i></span>
                                </li>
                                <hr>
                                <li> <span id="shopping">Total Price:</span> ${{totalPrice}} </li>
                                <li><span id="shopping">Remove All:</span><i class="fa fa-trash-o" id="deletBtn"
                                        @click="remove()"></i>
                                </li>
                            </ul>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>











            <!-- <button class="btn btn-primary position-relative" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <div id=cartButton>
                        <div class="cart">
                            <span class="total-quantity">{{totalQuantity}}</span>
                        </div>
                    </div>
                </span>
            </button>
            <ul id="shoppingCart" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <h3>Shopping Cart:</h3>

                <li v-for="(machine, index) in shoppingCart" :key="machine.id"><span id="shopping">Name:</span>
                    {{machine.name}}
                    <span id="shopping">Quantity:</span>
                    ({{machine.quantity}})
                    <span id="shopping">Price:</span> ${{machine.price*machine.quantity}} <span id="shopping">Remove
                        Item:</span><i class="fa fa-trash-o" id="deletBtn" @click=" removeMachine(index)"></i>
                </li>
                <hr>


                <li> <span id="shopping">Total Price:</span> ${{totalPrice}} </li>
                <li><span id="shopping">Remove All:</span><i class="fa fa-trash-o" id="deletBtn" @click="remove()"></i>
                </li>
            </ul> -->






            <a href="/signIn.html" class="btn btn-primary">LOG IN</a>

            <button class="btn btn-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false"> &#9662;

            </button>


            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#footer"> Contact us</a></li>
                <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Coffeemaker">About</a></li>



        </div>
    </nav>

    <header>
        <h1>
            <div v-html="title">{{title}}</div>
        </h1>
    </header>

    <!-- <div class="block">

        <div class="card container-fluid col-md-5" v-for="machine in machines">
            <product :machine_data="machine"></product>
        </div>

    </div> -->

    <section class="products block">
        <div class="card container-fluid col-md-5" v-for="machine in machines" :key="machine.id">
            <a :href="imagePath+machine.image"> <img :src="imagePath+machine.image" class="card-img-top"
                    :alt="machine.alt"></a>
            <div class="card-body">
                <h5>{{machine.name}}</h5>
                <h5>{{machine.machineNum}}</h5>
                <p class="card-text">{{machine.text}}</p>
                <p>Price: {{machine.price}}$</p>
                <p class="soldOut" v-if="machine.stock===0">Sold Out</p>
                <p class="soldOut" v-else-if="machine.stock<=5 && machine.stock>0">Almost Sold Out</p>
                <p v-else-if="machine.stock>5">In Stock</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <button class="addToCart btn btn-primary" @click="updateCart(machine,'substract')"
                    :disabled="machine.stock === 0 && machine.quantity===0"
                    :class="{disabledButton: machine.stock===0 && machine.quantity===0}">-</button>
                <span>{{machine.quantity}}</span>
                <button class=" addToCart btn btn-primary" @click="updateCart(machine,'add')"
                    :disabled="machine.stock === 0" :class="{disabledButton: machine.stock === 0}">+</button>
            </div>
        </div>
    </section>

</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" id="footer">
    <p class="col-md-4 mb-0 text-muted">&copy; 2021 Cherkkoffie</p>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <!-- facebook, twitter,instagram are form: https://www.codegrepper.com/ -->
        <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        </li>
        <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a>
        </li>
        <li><a href="https://www.instagram.com/" class=" fa fa-instagram"></a>
        </li>
    </ul>
</footer>
<!-- <script src="/assets/js/main.js"></script> -->
<script src="/assets/js/app.js"></script>
</body>

</html>