body {
    display: block;
    margin: auto;
    padding: 0px;
    border: solid lightgrey 1px;
    background-image: url('/assets/images/bodybg.jpg');
}
/*informations--------------------------------------------------------------------------------------*/

/* picture information: */
/* card pictures size: 700 1000 */
/*background picture size: 2000 300*/

/* background:
Photo by Maria Orlova from Pexels*/

/* bodybg:
Photo by Monstera from Pexels */


/*simpleCoffeM: CM357e 
Photo by mentatdgt from Pexels

profitionalcoffeem: CM359e
Photo by Eka Sutrisno from Pexels

freshcoffeem: CM356f
Photo by Matt Jerome Connor from Pexels


filtercoffeem: CM352f
Photo by Thirdman from Pexels


easycoffeem: CM363f
Photo by Ketut Subiyanto from Pexels

silvercoffeem: CM365f
Photo by Karolina Grabowska from Pexels

smallcoffeem: CM368e
Photo by Hiago Italo from Pexels

takeawaycoffeem: CM369e
Photo by Taryn Elliott from Pexels

handycoffeem: CM363e
Photo by Maria Orlova from Pexels

soprofitionalcoffeem: CM370f
Photo by Ivan Samkov from Pexels

everydaycoffeem: CM373e
Photo by Cleyder Duque from Pexels

moderncoffeem: CM377f
Photo by Jonathan Borba from Pexels

arabiccoffeem: CM378e
Photo by Svetlana Ponomareva from Pexels

supereasycoffeem: CM371e
Photo by Michaela S. from Pexels


superprofitionalcoffeem: CM380f
Photo by Pavel Danilyuk from Pexels


worktimecoffeem: CM490e
Photo by Pavel Danilyuk from Pexels

timeoutcoffeem: CM495e
Photo by Rachel Claire from Pexels

nicecoffeem: CM494e
Photo by Lynnelle Richardson from Pexels

coffeeloverscoffeem: CM483e
Photo by Clam Lo from Pexels

cappuccinoloverscoffeem: CM400f
Photo by Pavel Danilyuk from Pexels

cappuccinoprofitinalcoffeem: CM402f
Photo by Lisa from Pexels

espressocoffeem: CM410f
Photo by Sander Dalhuisen from Pexels

tastycoffeem:CM501m
Photo by Ida Bagus Anggarama from Pexels

smallcappuccinocoffeem: CM512m
Photo by Noah Frohn from Pexels

tinycoffeem: CM514m
Photo by Tim Douglas from Pexels

uniccoffeem: CM911m
Photo by Georgi Petrov from Pexels*/


/*responsive block
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
 */

/* blur image:
 filter: blur(8px);
 -webkit-filter: blur(8px); */








/* blackcoffeec: 
Photo by Chevanon Photography from Pexels */

/* nicebrowncoffeec:
Photo by Pelageia Zelenina from Pexels */

/* browncoffeec:
Photo by Valeriia Miller from Pexels */

/* whitecoffeec: 
Photo by Alin Luna from Pexels */

/* greycoffeec:
Photo by Vitaly Vlasov from Pexels */

/* nicecoffeec:
Photo by Marta Dzedyshko from Pexels */

/* potterycoffeec:
Photo by Cup of Couple from Pexels */


/* beautifullcoffeec:
Photo by SpotwizardLee from Pexels */

/* bigcoffeec:
Photo by Ioana Motoc from Pexels */

/* whitebigcoffeec:
Photo by cottonbro from Pexels */

/* smallwhitecoffeec:
Photo by Rachel Claire from Pexels */

/* bigpinkcoffeec:
Photo by Harper Sunday from Pexels */

/* greencoffeec:
Photo by Olga Mironova from Pexels */

/* greenbrowncoffeec:
Photo by Nida from Pexels */

/* portablecoffeec:
Photo by Quang Anh Ha Nguyen from Pexels */

/* greynicecoffeec:
Photo by Anna Rye from Pexels */

/* bigbeautifulcoffeec:
Photo by Karolina Grabowska from Pexels */

/* orangecoffeec:
Photo by Tim Douglas from Pexels */

/* whitegoldcoffeec:
Photo by Ioana Motoc from Pexels */

/* verynicecoffeec:
Photo by Eneida Nieves from Pexels */


/* uniccoffec:
Photo by Skyler Ewing from Pexels */






/*......................................................................

/* coffeeHomePage:

Photo by Jean-Paul Wright from Pexels
*/

/*.....................................................................



/* beans1:
Photo by Cup of Couple from Pexels */


/* beans2:
Photo by Cup of Couple from Pexels */

/* beans3:
 Photo by Denys Gromov from Pexels*/


/* beans4:
Photo by Thirdman from Pexels */

/* beams5:
Photo by Los Muertos Crew from Pexels */

/* beans6:
istock */

/* beans7:
Photo by Ave Calvar Martinez from Pexels */

/* beans8:
Photo by bacho nadiradze from Pexels */

/* beans9:
Photo by Cup of Couple from Pexels */

/* beans10:
Photo by Alexas Fotos from Pexels */

/* beans11:
Photo by Engin Akyurt from Pexels */

/* beans12:
Photo by Ryutaro Tsukata from Pexels */

/* beans13:
Photo by Cup of Couple from Pexels */

/* beans14
Photo by cottonbro from Pexels */

/* beans15:
Photo by Nicola Barts from Pexels */

/* beans16:
Photo by lyncoln Miller from Pexels */

/* beans17:
Photo by Mariakray from Pexels */

/* beans18:
Photo by Pavel Danilyuk from Pexels */

/* beans19:
Photo by Cup of Couple from Pexels */

/* beans20:
Photo by Lisa from Pexels */